form(action='/users/' + user.id + '/general?_method=PUT', method='POST')
  section#generalModule.module.container.px-5
    .jumbotron.bg-transparent.pb-0
      h1.display-3.text-center General
    .form-group.mt-5
      p Nothing here yet...