.guild-icon {
  width: 128px;
  height: 128px;
}
body {
  margin-bottom: 10px;
  background-color: #212529;
}
.background-color {
  background-color: transparent !important;
}
.active {
  border-color: rgba(255, 255, 255, 0.4) !important;
}
.border {
  border-color: rgba(255, 255, 255, 0.4) !important;
}
.nav-tabs {
  border-color: rgba(255, 255, 255, 0.4) !important;
}
.dropdown-divider {
  border-color: #16191b !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #16191b;
}
.dropdown-menu {
  background-color: #212529be !important;
}