form(action='/servers/' + guild.id + '/botBehaviour?_method=PUT', method='POST')
  section#botBehaviourModule.module.container.px-5
    .jumbotron.bg-transparent.pb-0
      h1.display-3.text-center Bot Behaviour
    .form-group.mt-5
      p Nothing here yet...