form(action='/servers/' + guild.id + '/lobby?_method=PUT', method='POST')
  section#lobbyModule.module.container.px-5
    .jumbotron.bg-transparent.pb-0
      h1.display-3.text-center Lobby
    .form-group.mt-5
      p Nothing here yet...