form(action='/servers/' + guild.id + '/logs?_method=PUT', method='POST')
  section#logsModule.module.container.px-5
    .jumbotron.bg-transparent.pb-0
      h1.display-3.text-center Logs
    .form-group.mt-5
      p Nothing here yet...