form(action='/servers/' + guild.id + '/moderation?_method=PUT', method='POST')
  section#moderationModule.module.container.px-5
    .jumbotron.bg-transparent.pb-0
      h1.display-3.text-center Moderation
    .form-group.mt-5
      p Nothing here yet...